################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.obj
/obj/**
/bin/**
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release